* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: sans-serif;
  color: #fff;
}

.logo {
  width: 90px;
  height: 90px;
  margin: 15px 0;
}

.location,
.temperature {
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.temperature-description {
  font-size: 40px;
}

.temperature {
  flex-direction: column;
}

.temperature-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.temperature-section span {
  margin: 10px;
  font-size: 30px;
}

.temperature-section h2 {
  font-size: 40px;
  user-select: none;
}

.temperature-section:hover {
  color: orange;
}

@media (max-width: 600px) {
  .temperature-description {
    font-size: 24px;
  }
}
